

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-wrapper d-flex justify-content-center">
    <div class="navbar-middle d-flex justify-content-center">
        <%= link_to root_path, class: "la-fin" do %>
		  <%= image_tag "fin.png", class: "la-fin-img" %>
		<% end %>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="btn-group collapse navbar-collapse" id="navbarSupportedContent">
	  <button type="button" class="btn dropdown-toggle btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Menu
	  </button>
	  <div class="dropdown-menu dropdown-menu-right">
	    <button class="dropdown-item" type="button"><%= link_to " 100 : Voir le patchwork des cultures", portraits_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Pourquoi peindre cent portraits?", pourquoi_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Le pouvoir des clones", lepouvoirdesclones_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Hommage à Claude Lévi-Strauss.", hommage_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "La séduction nouvelle arme de la colonisation occidentale.", seduction_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "L'installation dans la ville", installationdanslaville_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Remerciements", remerciements_path, class: " dropdown-item"%></button>
	  </div>
	</div>
  </div>
  
    
</div>
