<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="navbar-wrapper d-flex justify-content-between">
  	<!-- <div class="navbar-grow"></div> -->
  	<div class="navbar-middle d-flex justify-content-center">
        <%= link_to jeanpierrechebassier_path, class: "la-fin" do %>
		  <h3>Jean-Pierre <br> Chebassier</h3>
		<% end %>
    </div>
    <div class="navbar-middle d-flex justify-content-center">
        <%= link_to root_path, class: "la-fin" do %>
		  <%= image_tag "Anticlones.png", class: "la-fin-img" %>
		<% end %>
    </div>


<!--     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
    </button> -->
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    <div class="btn-group " id="navbarSupportedContent">
	  <button type="button" class="btn dropdown-toggle btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Menu b
	  </button>

	  <div class=" dropdown-menu dropdown-menu-right">
	    <button class="dropdown-item" type="button"><%= link_to " 100 : Le patchwork des cultures", portraits_path, class: " dropdown-item"%></button>
<!-- 	    <button class="dropdown-item" type="button"><%#= link_to "Pourquoi peindre cent portraits?", pourquoi_path, class: " dropdown-item"%></button> -->
	    <button class="dropdown-item" type="button"><%= link_to "Le pouvoir des clones", lepouvoirdesclones_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Hommage à Claude Lévi-Strauss.", hommage_path, class: " dropdown-item"%></button>
	  	<button class="dropdown-item" type="button"><%= link_to " La fin des grandes différences", root_path, class: " dropdown-item"%></button>
<!-- 	    <button class="dropdown-item" type="button"><%#= link_to "La séduction, arme de la colonisation occidentale.", seduction_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%#= link_to "L'installation dans la ville", installationdanslaville_path, class: " dropdown-item"%></button> -->
	    <button class="dropdown-item" type="button"><%= link_to "Remerciements", remerciements_path, class: " dropdown-item"%></button>
	    <button class="dropdown-item" type="button"><%= link_to "Mentions légales", mentionslegales_path, class: " dropdown-item"%></button>
      <button class="dropdown-item" type="button"><%= link_to "Contact", contact_path, class: " dropdown-item"%></button>
	  </div>
	</div>
  </div>


</div>
