<div class="container-fluid">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards ">
			<% jon = @portraits.each_slice(10).to_a%>
			<% jon.each do |portraits|%>
				<div class="row ">
				<% portraits.each do |portrait| %>
					<div class=" flip-card" data-titre="<%= portrait.titre%>" data-number="<%= portrait.numéro %>" data-details="<%= portrait.details %>" data-dimensions="<%= portrait.dimensions%>">	

						<div class="flip-card-front">
							<%=	image_tag portrait.petiteimage %>
						
							<%= link_to "", portrait_path(portrait), class: "card-link"%>
						</div> 
						<div class="flip-card-back">						
							<%= image_tag portrait.visages %>
							<%= link_to "", portrait_path(portrait), class: "card-link"%>
						</div>
					</div>	
				<% end %>
				</div>		
			<% end %>
		</div>
	</div>
	<div class="infos-show">
		<div class='infos-show-content'>
			<div class="number col-3 align-middle"> 100
			</div>
			<div class="infos-right col-9 table-cell">
				<div class="titre index-titre col-12">
					<h1>PORTRAITS</h1>
				</div>
				<div class="details col-12">
			
				</div>
				<div class="dimensions col-12">
					<p class="clickez">clickez sur un visage pour découvrir</p>
				</div>
			</div>
		</div>

	</div>	
</div>
<div class="content-homepage">
	<div class="titre-homepage">
		<h1>LA FIN DES GRANDES DIFFÉRENCES</h1>
	</div>
	<div class="text-homepage offset-sm-1 col-sm-10 offset-md-3 col-md-6 ">
		<p>Artiste observateur du monde, Jean-Pierre Chebassier pose, à travers cette œuvre de cent portraits, un regard interrogateur sur la tragique contradiction entre civilisation et humanisme, entre désir d’adhérer à un modèle de richesse et perte d’identité. Influencé par différentes périodes de sa vie passées au Soudan, puis à New-York aux USA, enfin à Paris, c’est un regard critique posé sur une hégémonie occidentale qui détruit tout ce qui ne lui ressemble pas. 
		Pourquoi l’Homme a t-il besoin de redéfinir des signes de distinction personnels alors qu’il n’aspire qu’à faire partie d’une société prédatrice de la singularité ? 
		Ces cent portraits sont une seule œuvre : La fin des grandes différences. 
		<br>Elle pose la question du clonage humain engendré par la mondialisation, mais aussi par l’aspiration des plus démunis de la planète à découvrir l’eldorado occidental.
		Séduction collective et existence individuelle, mais aussi Liberté et respect des autres, sont au centre de cette quête de sens. 
		</p>
	</div>
	<%= link_to jeanpierrechebassier_path, class: "image-homepage" do %>
	  <%= image_tag "JP chebassier.png" %>
	<% end %>
</div>

	

