<div class="container-fluid ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards ">
			<% jon = @portraits.each_slice(10).to_a%>
			<% jon.each do |portraits|%>
				<div class="row ">
				<% portraits.each do |portrait| %>
					<div class=" flip-card-show"  data-titre="<%= portrait.titre%>" data-number="<%= portrait.numéro %>" data-details="<%= portrait.details %>" data-dimensions="<%= portrait.dimensions%>">	
						<%= link_to "", portrait_path(portrait), class: "card-link"%>					
						<%=	image_tag portrait.petiteimage %>
					</div>	
				<% end %>
				</div>		
			<% end %>
		</div>
	</div>
	<div class="infos-show">
		<div class='infos-show-content'>
			<div class="number col-3 align-middle">100</div>
			<div class="infos-right col-9">
				<div class="table-cell">
					<div class="titre index-titre col-12"></div>
					<div class="details col-12"></div>
					<div class="dimensions col-12"></div>
				</div>
			</div>
		</div>
	</div>	
</div>
	<div class="content-homepage">
		<div class="titre-homepage">
			<h1>POURQUOI PEINDRE CENT PORTRAITS ?</h1>
		</div>
		<div class="text-homepage offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-xl-4 col-xl-4">
				<p>Cent portraits de l'humanité. Pour faire surgir l'invraisemblable diversité humaine telle qu'elle existe encore aujourd'hui. Une galerie de portraits si puissante qu'elle peut créer une prise de conscience sur l'impérieuse nécessité de respecter la différence. Il ne s'agit pas de la diversité au sens où nous sommes tous différents, tous uniques, où personne ne se ressemble, où chacun mérite le respect... Mais bien d'une profondeur de la diversité que nous gommons volontairement et progressivement, pour mieux réussir à vivre ensemble. <br><br>Ma peinture est un médium libératoire : elle permet d'échapper à la datation et à la lecture ethnologique, au carnet de voyages. Sa force poétique est contemporaine sans appartenir à une histoire en particulier <br><br> J'ai attaché beaucoup d'importance à une forme qui tente de faire parler ces visages à travers la matière, l'épaisseur, le minéral ; comme un signe très fort de la relation qui existe depuis toujours entre ces peuples et la nature. </p>
		</div>
		<%= link_to jeanpierrechebassier_path, class: "image-homepage" do %>
		  <%= image_tag "JP chebassier.png" %>
		<% end %>
	</div>
