<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="author" content="Jean-Pierre Chebassier" />

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag "application.js" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>
  <body>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>

  var jon = document.querySelectorAll('.flip-card');
var jonShow = document.querySelectorAll('.flip-card-show');
console.log('hello beaugosse');
function returnCard (card){
    card.classList.remove('flip-card-out');
    card.classList.remove('flip-card-in');
    card.classList.add('flip-card-in');
    console.log("you are in");

}
function returnCardInfinite (card) {
    var number = card.dataset.number
    var titre = card.dataset.titre
    var dimensions = card.dataset.dimensions
    var details = card.dataset.details

    var numberInfos= document.querySelector('.number');
    var titreInfos= document.querySelector('.titre');
    var dimensionsInfos= document.querySelector('.dimensions');
    var detailsInfos= document.querySelector('.details');
    card.addEventListener('mouseenter', function(){
        console.log("hello");
        card.classList.remove('flip-card-in');
        card.classList.remove('flip-card-out');
        card.classList.add('flip-card-out');
        numberInfos.innerHTML = number;
        titreInfos.innerHTML = titre;
        dimensionsInfos.innerHTML = dimensions;
        detailsInfos.innerHTML = details;
    })
    card.addEventListener('mouseleave', function(){
        setTimeout(()=> {
            card.classList.remove('flip-card-out')
            card.classList.add('flip-card-in')
            console.log("goodbye");
        }, 5 * 1000);
    })
}

window.addEventListener('load', (event) => {
    console.log("Hello");

    // sélectionner toutes les flip-cards
    // réaliser une action pour chacune de ces flip card
    // créer un array de 100 valeurs
    jon.forEach(function(card, index) {

        setTimeout(function() {returnCard(card);}, 50 * index);
    })

     jon.forEach(function(card) {

        setTimeout(function() {returnCardInfinite(card);}, 50 * 100);
     })
    //  jon.forEach(function(card, index) {
    //     touchTurnCard(card);
    //     debugger
    // })

    //  jon.forEach(function(card) {
    //     setTimeout(function() {touchReturnCardInfinite(card);}, 50 * 100);
    //  })

})

jonShow.forEach(function(card) {
    var number = card.dataset.number
    var titre = card.dataset.titre
    var dimensions = card.dataset.dimensions
    var details = card.dataset.details

    var numberInfos= document.querySelector('.number');
    var titreInfos= document.querySelector('.titre');
    var dimensionsInfos= document.querySelector('.dimensions');
    var detailsInfos= document.querySelector('.details');

    card.addEventListener('mouseenter', function(){
        numberInfos.innerHTML = number;
        titreInfos.innerHTML = titre;
        dimensionsInfos.innerHTML = dimensions;
        detailsInfos.innerHTML = details;
    })
})
  </script>
    <script>document.onkeydown = checkKey;


function checkKey(e) {
  blueRight = document.getElementsByClassName('arrow-right-java')[0].href;
  blueLeft = document.getElementsByClassName('arrow-left-java')[0].href;
  console.log('hello');

    e = e || window.event;

    if  (e.keyCode == '37') {
       // left arrow
       window.location.href = blueLeft;
       // blue.click();
    }
    else if (e.keyCode == '39') {
       // right arrow
       window.location.href = blueRight;
    }

}
 </script>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%#= render 'shared/footer' %>

  </body>
</html>
